<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
  
  </connectionStrings>
  <appSettings>
    <add key="OledbConnectionInfo" value="Provider=Microsoft.Jet.OLEDB.4.0;Jet OLEDB:Database Password=venkat;Data Source=C:\DB\RailOffline.mdb;" />
    <add key="OledbServerName" value="C:\DB\RailOffline.mdb" />
    <add key="OledbPwd" value="venkat" />
    <add key ="Parking_ReaderIPAddress" value ="172.168.5.207"/><!--182.72.244.19-->
    <add key ="Parking_ReaderPort" value ="5084"/>
    <add key ="Parking_AntennaIn" value ="1"/>
    <add key ="Parking_AntennaOut" value ="3"/>
    <add key="WBIN" value="WB16" />
    <add key="WBOUT" value="WB17" />
    <add key="loc" value="WB16" />
    <add key="systemip" value="172.168.8.102" />
    <add key="fixreaderip" value="172.168.5.207" />
    <add key="ant1" value="1" />
    <add key="ant2" value="3" />
    <add key="ant1and2" value="General" />    <!--General //  PortEntry  -->
    <add key="ant3and4" value="General" />      <!--General //  PortEntry  -->
    <add key="TimeLmt" value="5" />    <!-- in minutes -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>